{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col mb-2">
          <h1 class="mt-5">Какулятор</h1>
      </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            <h3>Введите данные:</h3>
            <form method="post" action="/calculator/">
                {% csrf_token %}
                {{ form.first.label }}: {{ form.first }}
                {{ form.second.label }}: {{ form.second }}
                <input type="submit" class="btn btn-primary mt-2 mb-2" value="Вычислить">
            </form>
            {% if error %}
                <p>Некорректные данные в форме</p>
                <p>Подробности:</p>
                {{ form.errors }}
            {% endif %}
            {% if has_data %}
                <ul>
                    <li>A = {{ a }}</li>
                    <li>B = {{ b }}</li>
                    <li>Сумма: {{ c }}</li>
                </ul>
            {% else %}
                <p>Значение для сложения не задано</p>
            {% endif %}
        </div>
    </div>
{% endblock %}