{% extends 'base.html' %}
{% block content %}
    <div class="row">
      <div class="col mb-2">
          <h1 class="mt-5">Сложное уравнение</h1>
      </div>
    </div>

    <div class="row">
      <div class="col mb-2">
          <div class="card">
              <div class="card-body">
                  <p>{{ expression }}</p>
              </div>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
          <a class="btn btn-primary" href="/expression">Новое выражение</a>
          <a class="btn btn-primary" href="/exphistory">История выражений</a>
      </div>
    </div>
{% endblock %}