{% extends './components/base.html' %}
{% block content %}
    <div class="row">
      <div class="col mb-2">
          <h1 class="mt-5">Таблица умножения</h1>
      </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            {% if has_data %}
                {% for row in table %}
                    <p>{{ row }}</p>
                {% endfor %}
            {% else %}
                <p>Значение для умножения не задано</p>
            {% endif %}
        </div>
    </div>
{% endblock %}