{% extends './components/base.html' %}
{% block content %}
    <div class="row">
        <div class="col mb-2">
            <h1 class="mt-5">Анализ текста</h1>
        </div>
    </div>

    <div class="row">
        <div class="col mb-2">
            {% if request.user.is_authenticated %}
                <h3>Введите данные:</h3>
                <form method="post" action="/str2words/">
                    {% csrf_token %}
                    {{ form.Text.label }}: {{ form.Text }}<br>
                    <input type="submit" class="btn btn-primary mt-2" value="Анализ">
                </form>
                {% if error %}
                    <p>Произошла ошибка</p>
                    <p>Подробности:</p>
                    {{ form.errors }}
                {% endif %}
                {% if has_data %}
                    <ul>
                        <li>Предложение = {{ string }}</li>
                        <li>Кол-во слов = {{ words }}</li>
                        <li>Кол-во чисел: {{ numbers }}</li>
                        <li>
                            Слова:<br>
                            <ol>
                                {% for word in unique_words %}
                                    <li> {{ word }}</li>
                                {% endfor %}
                            </ol>
                        </li>
                        <li>
                            Числа:<br>
                            <ol>
                                {% for num in unique_nums %}
                                    <li> {{ num }}</li>
                                {% endfor %}
                            </ol>
                        </li>
                    </ul>
                {% endif %}
            {% else %}
                <p>Войдите для продолжения</p>
            {% endif %}
        </div>
    </div>
{% endblock %}