{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% if request.user.is_authenticated %}
            <table border="1px">
                <tr>
                    <td>ID</td>
                    <td>Дата</td>
                    <td>Текст</td>
                    <td>Кол-во слов</td>
                    <td>Кол-во цифр</td>
                    <td>Автор</td>
                </tr>
                {% for record in history %}
                    <tr>
                        <td>{{ record.id }}</td>
                        <td>{{ record.Date }}</td>
                        <td>{{ record.Text }}</td>
                        <td>{{ record.Words }}</td>
                        <td>{{ record.Nums }}</td>
                        <td>{{ record.Author }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Войдите для продолжения</p>
        {% endif %}
    </div>
{% endblock %}