{% extends 'base.html' %}
{% block content %}
    <div class="d-flex align-items-center flex-row mt-5">
        <div class="p-2 mb-5 mt-5">
            <button type="button" class="btn btn-primary" onclick="eat()">Кушац</button>
        </div>
        <div class="col mb-5 mt-5 ">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" id="HP"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HP(0/100)
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center flex-row">
        <div class="p-2 mb-5 mt-5">
            <button type="button" class="btn btn-primary" onclick="study()">Учицца</button>
        </div>
        <div class="col mb-5 mt-5">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" id="IQ"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">IQ(0/100)
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex align-items-center flex-row">
        <div class="p-2 mb-5 mt-5">
            <button type="button" class="btn btn-primary" onclick="sleep()">Поспац</button>
        </div>
        <div class="col mb-5 mt-5 ">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" id="FUN"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">FUN(0/100)
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mx-auto p-2 align-items-center flex-row" style="width: 50%">
        <div class="mb-5 mr-5">
            <button type="button" class="btn btn-primary" onclick="allAtOnce()">Всё понемногу</button>
        </div>
        <form id="form" method="post" action="/clicker/" class="mb-5 mt-5">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" onclick="addValuesToForm()" value="Отправить на сервер">
            {{ form.HP.as_hidden }}<br>
            {{ form.IQ.as_hidden }}<br>
            {{ form.FUN.as_hidden }}<br>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% load static %}
<script type="text/javascript" src="{% static 'js/student.js' %}"></script>
{% endblock %}